@CHARSET "ISO-8859-1";

#map {
	width: 400px;
	height: 400px;
	border: 2px solid #406679;
}

#watershed_data {
	border: 1px solid #406679; 
	height: 200px; 
	padding: 4px;'
}

#huc_data {
	border: 1px solid #406679;
	height: 200px;
	padding: 4px;
}

#large_form_container {
	border: 2px solid #406679;
	padding: 4px;
}